<div class="AuthForm">
  <p-card>
    <form [formGroup]="authForm" (ngSubmit)="login()">
      <div class="AuthForm-form">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input pInputText type="text" placeholder="password" formControlName="username">
        </div>
      
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-key"></i>
          </span>
          <input pInputText type="password" placeholder="password" formControlName="password">
        </div>
      </div>
    
      <div class="AuthForm-buttons">
          <button 
          pButton 
          class="ui-button-info" 
          type="button" 
          label="Register" 
          (click)="register()"
          [disabled]="authForm.invalid">
        </button>
        <button 
          pButton 
          type="submit" 
          label="login" 
          [disabled]="authForm.invalid">
        </button>
      </div>
      
    </form>
  </p-card>
</div>
